.second {
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background: #d1dbf0;
    color: #263b7c;
    /*background: linear-gradient(to bottom, #fff, #d1dbf0);*/
    padding: 10em;
    font-family: 'Playfair Display';
  }

  .second h2 {
    font-family: 'PT Sans';
    text-align: center;
    padding-bottom: 0.75em;
  }


  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .second {
    padding: 2em;
  }

  .second h2 {
    padding: 2em 0 1em;
  }

}